@charset "UTF-8";

th.btitle {
	font-family: malgun;
	font-size: 18px;
	background-color: #365486;
	color: #FFFFFF;
	border: 1px solid #eaeaf9;
}

td.bcontent {
	font-family: malgun;
	font-size: 16px;
	background-color: #7FC7D9;
	color: #FFFFFF;
	border: 1px solid #eaeaf9;
}