@charset "UTF-8";

td.con_box {
	background-color: #FAEF9B;
	height: 500px;
}

td.con_text {
	font-size: 20px;
	font-family: malgum;
	color: #647D87;
	font-weight: bold;
	text-align: right;
}

td.con_text02 {
	font-size: 20px;
	font-family: malgum;
	color: #647D87;
	font-weight: bold;
	text-align: center;
}

input.input_box01 {
	border: 1px solid #647D87;
	background-color: #FFFFFF;
	width: 250px;
	font-family: Arial;
	font-size: 20px;
	color: #647D87;
	padding: 5px;
}

input.con_btn01 {
	border: 2px solid #647D87;
	background-color: #6DA4AA;
	width: 180px;
	height: 40px;
	font-size: 20px;
	color: #FFFFFF;
	padding: 5px;
	
}

input.con_btn01:hover {
	border: 2px solid #647D87;
	background-color: #436d72;
	width: 180px;
	height: 40px;
	font-size: 20px;
	color: #FFFFFF;
	padding: 5px;
	cursor: pointer;
	
}

